
@{
    ViewData["Title"] = "Index";
}
<html>
<head runat="server">    
</head>
<body>
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <a asp-controller="user" asp-action="Create" class="btn btn-primary">Create</a>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    @* <tr>
                    <th>ID</th>
                    <th>RoleID</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Phone Number</th>
                    <th>Address</th>
                    <th>Username</th>
                    <th>Password</th>
                    </tr>*@
                    <tr id="table-body">
                    </tr>
                </table>
            </div>
        </div>
    </div> 
</body>
</html>
@section Scripts{
    <script type="text/javascript">
        $(function () {
            $(document).ready(function () {
                var apiUrl = "https://localhost:7127/api/user/";
                $.ajax({
                    url: apiUrl,
                    type: 'GET',
                    dataType: 'json',
                    contentType: "application/json;charset=utf-8",
                    success: function (data) {

                        var rows = "<tr><th>ID</th><th>Role ID</th><th>Fullname</th><th>Email</th><th>Phone number</th><th>Address</th><th>Username</th><th>Password</th></tr>";;
                        for (var i = 0; i < data.length; i++) {
                            rows += "<tr><td>"+ data[i].id +"</td><td>"+ data[i].roleId+ "</td><td>"+ data[i].fullname + "</td><td>"+ data[i].email+ "</td><td>"+ data[i].phoneNumber+ "</td><td>"+ data[i].address+ "</td><td>"+ data[i].username + "</td><td>"+ data[i].password + "</td></tr>";
                            //rows += "<tr><td>"+ data[i].id +"</td><td>"+ data[i].roleId+ "</td></tr>";
                        }
                        $("#table-body").html(rows);
                        console.log(data);
                    },
                    error: function (data) {
                        alert('error in ajax block');
                    }
                });
            });
        });
    </script>
}

