@model project.Data.Entities.Category

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="h3 mb-2 text-gray-800" style="padding:0 22px 10px">Xóa danh mục</h1>

<div class="card shadow mb-4">
    <div class="card-body">
        <h5>Bạn có chắc chắn muốn xóa danh mục này? Việc này là không thể hoàn tất!</h5>
        <hr />
        <dl class="row">
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.name)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.name)
            </dd>
        </dl>
    
        <form asp-action="Delete">
            <input type="hidden" asp-for="id" />
            <input type="submit" value="Xóa" class="btn btn-danger" /> |
            <a asp-action="Index">Quay lại danh sách</a>
        </form>
    </div>
</div>
